In [7]:
#Activity 1
#Accept two lists from user and display their joins
List1=[]
print("Enter elements of list1")
for i in range (5):
  value=input ("enter a value:")
  n=int(value)
  List1.append(n)
List2=[]
print("Enter elements of List2") 
for i in range(5):
   value=input("Enter a value:")
   n=int(value)
   List2.append(n)
List3=List1+List2;
print(List3)

Enter elements of list1
enter a value:1
enter a value:2
enter a value:3
enter a value:4
enter a value:5
Enter elements of List2
Enter a value:6
Enter a value:7
Enter a value:8
Enter a value:9
Enter a value:10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#Activity 2
def isPalindrome(word):
    temp=word[::-1]
    if temp.capitalize()==word.capitalize():
        return True
    else:
        return False
print(isPalindrome("dad"))

True

In [12]:
#Activity 4
def perimeter(listing):
  length=len(listing)
  perimeter=0;
  for i in range(0,length-1):
    dist = (((listing[i][0]-listing[i+1][0])**2)+((listing[i][1]-listing[i+1][1])**2))**0.5 
    perimeter = perimeter + dist
   
  perimeter = perimeter +(((listing[i][0]-listing[i+1][0])**2)+((listing[i][1]-listing[i+1][1])**2))**0.5 
    
  return perimeter

l = [(1,3),(2,7),(3,9),(-1,8)]
print(perimeter(l))

14.60538485435277

In [13]:
#Activity 5
# Function defined
def symmDiff(a,b):
    e=set() 
    for i in a:   
        if i not in b:
           e.add(i)
    for i in b:
        if i not in a:
          e.add(i)
    return e
set1={0,1,2,4,5}
set2={4,5,7,8,9}
print(symmDiff(set1,set2))
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))
print(set1^set2)
print(set2^set1)

{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}

In [15]:
#Activity 6
sample={("ayesha","siddiqua") :"7888876665556555665",("aqsa","naz"):"7878978978787988888",}
firstname=input("enter first name:")
lastname=input("enter last name:")
searchTuple=(firstname,lastname)
if searchTuple in sample:
   print(sample[searchTuple])
else:
  print("name not found")

enter first name:aqsa
enter last name:batool
name not found

In [2]:
#Lab Task 1
#Create two lists based on the user values. Merge both the lists and display in sorted order
x=[]
y=[]
number1=int(input("Enter number of elements of list1:"))
for i in range(1,number1+1):
    a=int(input("Enter element of list1:"))
    x.append(a)
number2=int(input("Enter number of elements of list2:"))
for i in range(1,number2+1):
    b=int(input("Enter element of list2:"))
    y.append(b)
new=x+y
new.sort()
print("Sorted list is:",new)

Enter number of elements of list1:2
Enter element of list1:1
Enter element of list1:2
Enter number of elements of list2:4
Enter element of list2:1
Enter element of list2:2
Enter element of list2:3
Enter element of list2:4
Sorted list is: [1, 1, 2, 2, 3, 4]

In [10]:
 #Lab Task 2
#Repeat the above activity to find the smallest and largest element of the list. (Suppose all the elements
#are integer values)
x=[]
y=[]
number1=int(input("Enter number of elements of list1:"))
for i in range(1,number1+1):
    a=int(input("Enter element of list1:"))
    x.append(a)
number2=int(input("Enter number of elements of list2:"))
for i in range(1,number2+1):
    b=int(input("Enter element of list2:"))
    y.append(b)
new=x+y
new.sort()
print("Sorted list is:",new)
print("largest element in list 1 is: ",x[5])
print("Smallest elements in list 1 is: ",x[0])
print("largest element in list 2 is: ",y[5])
print("Smallest element in list 2 is: ",y[0])

Enter number of elements of list1:6
Enter element of list1:1
Enter element of list1:2
Enter element of list1:3
Enter element of list1:4
Enter element of list1:5
Enter element of list1:6
Enter number of elements of list2:6
Enter element of list2:7
Enter element of list2:8
Enter element of list2:9
Enter element of list2:10
Enter element of list2:11
Enter element of list2:12
Sorted list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
largest element in list 1 is:  6
Smallest elements in list 1 is:  1
largest element in list 2 is:  12
Smallest element in list 2 is:  7

In [11]:
#Lab Task 4
#
if __name__ == '__main__':

    birthdays = {
        'Albert Einstein': '03/14/1879',
        'Benjamin Franklin': '01/17/1706',
        'Ada Lovelace': '12/10/1815',
        'Donald Trump': '06/14/1946',
        'Rowan Atkinson': '01/6/1955'}

    print('Welcome to the birthday dictionary. We know the birthdays of:')
    for name in birthdays:
        print(name)

    print('Who\'s birthday do you want to look up?')
    name = input()
    if name in birthdays:
        print('{}\'s birthday is {}.'.format(name, birthdays[name]))
    else:
              print('We don\'t have {}\'s birthday.'.format(name))

Welcome to the birthday dictionary. We know the birthdays of:
Albert Einstein
Benjamin Franklin
Ada Lovelace
Donald Trump
Rowan Atkinson
Who's birthday do you want to look up?
Donald Trump
Donald Trump's birthday is 06/14/1946.

In [23]:
#Lab Task 5

sample_dict = {
 "name": "Kelly",
 "age": 25,
 "salary": 8000,
 "city": "New york"}
print("Given dictionary : ",sample_dict)

res = {key: sample_dict[key] for key in sample_dict.keys()
& {'name', 'salary'}}
print("Dictionary with given keys is : ",res)

Given dictionary :  {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
Dictionary with given keys is :  {'salary': 8000, 'name': 'Kelly'}